<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyan.policy.mapper.EnterpriseMapper">

    <select id="findEnterpriseById" parameterType="Integer" resultType="Enterprise">
        select id,name,region,profit,research_expense,tech_outfit,industry_id,researchers_num,
        scale,certificates,keywords
        from enterprise
        where id=#{id}
    </select>

    <select id="findAllEnterprises" resultType="Enterprise">
        select id,name,region,profit,research_expense,tech_outfit,industry_id,researchers_num,
        scale,certificates
        from enterprise
    </select>
</mapper>