<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyan.policy.mapper.PolicyDepartMapper">

    <insert id="insertDepart" parameterType="PolicyDepart" useGeneratedKeys="true" keyProperty="id">
        insert into policy_depart(level,region,name)
        values (#{level},#{region},#{name})
    </insert>

    <select id="findDepartByName" parameterType="String" resultType="PolicyDepart">
        select id,level,region,name from policy_depart
        where name=#{name}
    </select>

    <select id="findAllDeparts" resultType="PolicyDepart">
        select id,level,region,name from policy_depart
    </select>

    <select id="findDepartById" parameterType="Integer" resultType="PolicyDepart">
        select id,level,region,name from policy_depart
        where id=#{id}
    </select>

    <select id="findDepartByRegion" parameterType="String" resultType="PolicyDepart">
        select id,level,region,name from policy_depart
        where region=#{region}
    </select>
</mapper>